extends layout

block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Product Table
      .row
        .col-sm-12
          .white-box
            .table
              table.table
                thead
                  tr.row
                    th.col-sm-1.text-center #
                    th.col-sm-2.text-center Product Name
                    th.col-sm-2.text-center Image
                    th.col-sm-1.text-center Color
                    th.col-sm-1.text-center Size
                    th.col-sm-1.text-center Quantity
                    th.col-sm-2.text-center Price
                    th.col-sm-1.text-center Update
                    th.col-sm-1.text-center Delete
                tbody
                  - for (let i=0; i < listProducts.length; i++)
                    tr.row
                      td.col-sm-1.text-center #{i+1}
                      td.col-sm-2.text-center #{listProducts[i].productName}
                      td.col-sm-2.text-center
                        img(src=listProducts[i].imagePath[0] alt="product" width="100px" height="100px")
                      td.col-sm-1.text-center
                        - for (let j=0; j < listProducts[i].details.length; j++)
                            p #{listProducts[i].details[j].color}
                      td.col-sm-1.text-center
                        - for (let j=0; j < listProducts[i].details.length; j++)
                            p #{listProducts[i].details[j].size}
                      td.col-sm-1.text-center
                        - for (let j=0; j < listProducts[i].details.length; j++)
                            p #{listProducts[i].details[j].quantity}
                      td.col-sm-2.text-center $ #{listProducts[i].price}
                      th.col-sm-1.text-center
                        a.btn.btn-primary(href=`/admin/updateProduct?id=${listProducts[i]._id}`) Update
                      th.col-sm-1.text-center
                        a.btn.btn-danger(href=`/admin/deleteProduct?id=${listProducts[i]._id}`) Delete