extends layout

block content
    #page-wrapper
      .container-fluid
        .row.bg-title
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Add Product
        form.form-horizontal.form-material.row(action="/admin/updateProduct" method="POST" enctype="multipart/form-data")
          .col-md-4.col-xs-12
            .white-box.list-image-update
              each image,key in product.imagePath
                .how-itemcart1(style="width: 100% !important")
                  img(src=image alt="product" width="100%" index=key)
              .product-btm-box
                input.form-control.form-control-line(type="file" name="image" multiple)
          .col-md-8.col-xs-12
            .white-box
              .form-group
                label.col-md-12 Product Name
                .col-md-12
                  input.form-control.form-control-line(type='text' name="productName" value=product.productName)
              .form-group
                label.col-sm-12 Category
                .col-sm-12
                  select.form-control.form-control-line(name="category")
                    each cate in category
                      option(selected=(cate.categoryName === product.category ? true : false)) #{cate.categoryName}
              .listDetail
                each details in product.details
                  .row.col-md-12
                    .form-group
                      label.col-md-12 Color
                      .col-md-12
                        input.form-control.form-control-line(type='text' name="color" value=details.color placeholder="Color")
                    .form-group
                      label.col-sm-12 Size
                      .col-sm-12
                        select.form-control.form-control-line(name="size" required)
                          option(selected=(details.size === "S" ? true:false)) S
                          option(selected=(details.size === "M" ? true:false)) M
                          option(selected=(details.size === "L" ? true:false)) L
                          option(selected=(details.size === "XL" ? true:false)) XL
                          option(selected=(details.size === "XXL" ? true:false)) XXL
                    .form-group
                      label.col-md-12 Quantity
                      .col-md-12
                        input.form-control.form-control-line(type='number' name="quantity" min="0" max="1000" value=details.quantity placeholder="Quantity")
                    .form-group
                      label.col-md-12
                      .col-sm-12
                        h3.btn.btn-danger.detele-row-size Detele
              .form-group
                .col-sm-12
                  h3.btn.btn-primary.addDetail Add detail
              .form-group
                label.col-md-12 Price
                .col-md-12
                  input.form-control.form-control-line(type='number' min="100" name="price" value=product.price)
              .form-group
                label.col-md-12 Description
                .col-md-12
                  textarea.form-control.form-control-line(rows='10' name="description" style="height:100px") #{product.description}
              .form-group
                .col-sm-12.listImageDeleted
                  input.d-none(type='hidden' name="id" value=product._id)
              .form-group
                .col-sm-12
                  button.btn.btn-success(type="submit") Update product
